/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); /*font-family: 'Bebas Neue', cursive;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background: url(./images/Top-secret-background\ -\ Copy.jpg) darkgray;
  background-position: bottom;
  background-size: cover;
  background-repeat: none;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.btn {
  width: 75px;
  height: 75px;
  margin: 0 1.2em;
  border-radius: 50%;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2em;
  background-color: dodgerblue;
  color : white;
  transition: 0.4s;
}

.btn:hover {
  cursor: pointer;
  color: dodgerblue;
  background-color: white;
}

.btn:active {
  transform: scale(0.95);
}

.btn:focus {
  outline: none;  
}

.textbox {
  min-width: 60%;
  max-width: 80%;
  min-height: 100px;
  margin-top: 1.5em;
  padding: 1em 0.5em;
  text-align: center;
  font-family: monospace;
  font-size: 1.5em;
  border: none;
}

.key-wrapper {
  display: flex;
  align-items: center;
  margin-top: 1.5em;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.2em;
}

.keybox {
  display: flex;
  font-size: 1em;
  font-family: 'Bebas Neue', cursive;
  border-radius: 7px;
  text-align: center;
  width: 10ch;
  margin-left: 1.2em;
}


#container {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  text-decoration: underline;
  font-family: 'Bebas Neue', cursive;
  margin-top: 1em;
}

#result {
  font-family: monospace;
  font-size: 1.5em;
  text-align: center;
  display: inline;
  min-width: 60%;
  min-height: 100px;
  margin: 1.5em 0;
  padding: 1em 0.5em;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
  #container {
    width: 95%;
  }
  .textbox {
    min-width: 95%;
  }
  #result {
    min-width: 95%;
  }
}