*
{
  font-family: cambria;
}

.btn
{
  border-radius: 7px;
  background-color: dodgerblue;
  color : white;
  width: 150px
}

.btn:hover 
{
  cursor: pointer;
  color: dodgerblue;
  background-color: white;
}

.textbox{
  display: flex;
  flex-wrap: wrap;
  border-radius: 7px;
  text-align: center;
  width: 80%;
  opacity: 80%;
   
}

.keybox{
  display: flex;
  border-radius: 7px;
  text-align: center;
  width: 10%;
}

#container
{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: url('images/Top-secret-background.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  min-height: 980px;
 
}

#title 
{
  text-decoration: underline;
  
}

main
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

}
